.profile{
	margin-top:-100px;
}

.profile img{
	height:150px;
	width:150px;
	border:1px solid black;
}

.coverImage img{
	width:100%;
	height:250px;
}

#userSocial{
	color:#233249;
	margin:2px;
}

#userSocial:hover{
	color:#009688;
	margin:5px;
}

#userName{
	margin-top:-80px;
	color:white;
}


<!--this is for header and footer only-->
#leftSideContent{
	max-height: 100%;
	background-color:#f5f5dc;
	padding-top: 10px;
}

#sideBar1{
	color: black;
	background-color: #777777;
	border:1px solid black;
	border-radius: 0px;
	margin-top: 10px;
}


#sideBar{
	color: black;
	background-color: #777777;
	border:1px solid black;
	border-radius: 0px;
}

#sideBar1:hover{
	color: black;
	background-color:#f5f5dc;
	border:1px solid black;
	border-radius: 0px;
	margin-top: 10px;
}


#sideBar:hover{
	color: black;
	background-color: #f5f5dc;
	border:1px solid black;
	border-radius: 0px;
}

#jumbotron{
	background-color: #f5f5dc;
}

#projectImages{
	margin-bottom: 25px;
}

<!--this is for header and footer only-->
body{
	margin: 0px;
	padding: 0px;
}

#NavBar{
	margin: 0px;
	padding: 0px;
	border-radius:0px; 
	border: solid 0px;
	background-color: #009688;
}

#NavFontLogo{
	color: #000000;
	font-size: 20px;
	font-weight: bold;
}

#NavFont{
	color: #000000;
	font-size: 16px;
}

#NavFont:hover{
	color: #ffffff;
	font-size: 16px;
	background-color: #009688; 
}

#SearchBarButton{
	border: 1px solid #000000;
}

#HeaderLogo{
	font-size:30px;
	font-weight: bold;
	font-style: italic;
}

#SocialMediaTop1{
	height:50px;
	width:50px;
	margin:auto;
	padding:10px;
	color:#000000;
}

#SocialMediaTop1:hover{
	height:50px;
	width:50px;
	margin:auto;
	padding:10px;
	background-color:#3B5998;
	color:#ffffff;
}

#SocialMediaTop2{
	height:50px;
	width:50px;
	margin:auto;
	padding:10px;
	color:#000000;
}

#SocialMediaTop2:hover{
	height:50px;
	width:50px;
	margin:auto;
	padding:10px;
	background-color:#61c7ee;
	color:#ffffff;
}

#SocialMediaTop3{
	height:50px;
	width:50px;
	margin:auto;
	padding:10px;
	color:#000000;
}

#SocialMediaTop3:hover{
	height:50px;
	width:50px;
	margin:auto;
	padding:10px;
	background-color:#e70a64;
	color:#ffffff;
}

#SocialMediaTop4{
	height:50px;
	width:50px;
	margin:auto;
	padding:10px;
	color:#000000;
}

#SocialMediaTop4:hover{
	height:50px;
	width:50px;
	margin:auto;
	padding:10px;
	background-color:#e31010;
	color:#ffffff;
}


#NewsFeedHeading{
	margin-top:50px;
	margin-bottom:50px;
	text-align: center;
}

#Footer{
	background-color: #83D0C9;
}